
body {
  display: grid;
  justify-content: center;
}
main {
  width: 475px;
}

button.toggleAll {
  width: 40px;
}
button.toggleAll:not(:has(~ .item)) {
  visibility: hidden;
}
input.addItem {
  width: calc(100% - 40px)
}
div.item {
  display: flex;

  input[type='checkbox'] {
    width: 40px;
  }
  .text {
    width: calc(100% - 40px - 40px)
  }
  .delete {
    width: 40px;
  }
}

div.bottom-row {
  display: grid;
  grid-template-columns: 1.2fr 3fr 1.2fr;
}
.items-left { line-height: 140% }
div.filter {
  justify-self: center;
  button { padding: 1px }
  button[data-active] {
    border: blueviolet solid 1px;
    border-radius: 3px;
    padding: 2px;
  }
}